.terraform
*.terraform
**/.terraform/*
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars

*.crt
*.key
*/.crt
*/.key
day4_self_sign/ca.crt
day4_self_sign/ca.key